body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://bing.img.run/rand_uhd.php');
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    color: #000000;
    background-color: rgb(255,255,255,1);
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
    .button:hover {
        background-color: #2f74e1;
    }

img {
    max-width: 100%;
    height: auto;
}
