body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://api.imlazy.ink/img/');
    background-size: cover; /* 使背景图片覆盖整个容器 */
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255,255,255,0.1);
}

h1, h2, h3, h4, h5, h6, p {
    color: #000000;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

a {
    color: #000000;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}